html{
    font-size: 16px;
}


html,body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container{
    width: 4.8rem;
    height: 4.8rem;
    position: relative;
}

.send-button{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 50%;
    background: #6979F8;
    box-shadow: 8px 8px 40px -12px rgba(0, 0, 0, 1);
    overflow: hidden;
    cursor: pointer;
    
}
.icon-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.arrow-icon{
    width: 50%;
    height: auto;
    fill: white;
    padding-left: 10%;
    padding-top: 5%;
}

.plus-icon{
    height: auto;
    fill: white;
}

.button-menu{
    position: absolute;
    z-index: 0;
    left: 50%;
    bottom: 1px;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    list-style-type:none;
    background-color: #6979F8;
    overflow: hidden;
    visibility: hidden;
    display: flex;
}
.button-menu li{
    white-space: nowrap;
} 
.button-menu li a{
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: white;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    overflow: hidden;
}
.button-menu li a span{
    display: inline-block;
    background-color: white;
    border-style: solid;
    border-radius: 50%;
    color: #6979F8;
    opacity: 0;
    padding: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding-left: 30px;
    padding-right: 30px;

}
